<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>Time of Departure</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(flight) { %>
            <tr>
                <td><%= flight.airline %></td>
                <td><%= flight.airport %></td>
                <td><%= flight.flightNo %></td>
                <td><%= flight.departs %></td>
                <td><a href="flights/<%= flight.id %>">Details</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>